<nav class="navbar fixed-bottom justify-content-evenly align-items-start" style="width: 70vw; margin: auto; padding-bottom: 2%;">
    <%= link_to "Share", "", class: "nav-link" %>
    <%= link_to "Invite", "", class: "nav-link" %>
    <%= link_to "Lottery", "", class: "nav-link" %>
    <%= link_to "Shop", "", class: "nav-link" %>
    <%= link_to "Me", client_me_path, class: "nav-link" if client_user_signed_in? %>
</nav>