<div class="card border m-1" style="width: 250px; height: auto; padding: 5px;">
  <%= image_tag item.image.url, class:'card-img-top', style: 'object-fit: cover; max-height: 100px' if item.image.present? %>
  <div class="card-body d-flex flex-column">
    <span><%= item.name %></span>
    <small>Quantity: <%= item.quantity %></small>
    <small>Status: <%= item.status&.humanize %></small>
    <small>Created at: <%= item.created_at.strftime("%m/%d/%Y") %></small>
    <small>Online at: <%= item.online_at&.strftime("%m/%d/%Y") %></small>
    <small>Offline at: <%= item.offline_at&.strftime("%m/%d/%Y") %></small>
    <small>Start at: <%= item.start_at&.strftime("%m/%d/%Y") %></small>
    <small>Category: <%= item.categories.pluck(:name).join(',') %></small>
    <small>State: <%= item.state %></small>
    <div class="w-100 border-bottom my-2"></div>
    <%= link_to 'Show', admin_item_path(item), class: 'btn btn-primary btn-sm w-100 mb-2' %>
    <%= link_to 'Edit', edit_admin_item_path(item), class: 'btn btn-primary btn-sm w-100 mb-2' %>
    <%= button_to 'Delete', admin_item_path(item), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger w-100" %>
    <div class="container border border-black">
      <% if item.may_start? %>
        <%= button_to 'Start', start_admin_item_path(id: item), method: :post, class: 'btn btn-primary' %>
      <% end %>
      <% if item.may_pause? %>
        <%= button_to 'Pause', pause_admin_item_path(id: item), method: :post, class: 'btn btn-warning' %>
      <% end %>
      <% if item.may_end? %>
        <%= button_to 'End', end_admin_item_path(id: item), method: :post, class: 'btn btn-success' %>
      <% end %>
      <% if item.may_cancel? %>
        <%= button_to 'Cancel', cancel_admin_item_path(id: item), method: :post, class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>

</div>