<section class="admin-log-in d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">

  <h1>Admin Log in</h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { style: 'height: 40vh; width: 30vw; padding: 15px 30px; border-radius: 15px; border: 1px solid black;', class: 'd-flex flex-column justify-content-around' }) do |f| %>

      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'w-100', style: 'height: 20%;' %>

      <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password', class: 'w-100', style: 'height: 20%;'  %>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

      <%= f.submit "Log in", class: 'w-100', style: 'background-color: inherit; border: 1px solid black; height: 15%;' %>

  <% end %>


</section>




