<section class="admin-home-page p-10 d-flex justify-content-evenly" style="height: 100vh; width: 100vw; padding: 10px;" >

  <content class="left-column m-0" style="width: 20vw; min-width: 20vw; height: 5vh; display: grid; grid-template-rows: 5vh 90vh;">
    <div class="top-row d-flex justify-content-center align-items-center" style="border: 1px solid black; width: inherit; padding: 0;">
      <p style="margin: 0;">System Management</p>
    </div>

    <div class="accordion accordion-flush" id="accordionFlushExample" style="border: 1px solid black">
      <div class="accordion-item" style="padding: 14px 20px;">
        <a>Homepage</a>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            Member Management
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <ul style="margin: 10px; list-style: none">
            <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">User List</a></li>
            <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">User List</a></li>
          </ul>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
            Example 2 Management
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <ul style="margin: 10px; list-style: none">
            <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">Example 1</a></li>
            <li style="margin: 10px"><a class="accordion-body h-25" style="text-decoration: none;">Example 2</a></li>
          </ul>
        </div>
      </div>
    </div>
  </content>

  <content class="right-column m-0" style="width: 80vw; min-width: 80vw; height: 5vh; display: grid; grid-template-rows: 5vh 90vh; ">
    <div class="top-row d-flex justify-content-end align-items-center" style="border: 1px solid black; width: auto; height: 5vh;">
      <div class="change-language d-flex align-items-center" style="border-left: 1px solid black; border-right: 1px solid black; height: 100%; margin-right: 30px;">
        <a href="" style="text-decoration: none; padding: 0 20px; color: black;">Change Language</a>
      </div>
      <div class="username d-flex justify-content-center align-items-center" style="margin-right: 30px;">
        <button class="dropdown-toggle" data-bs-toggle="dropdown" style="border: none; background: white;">Username</button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <% if admin_user_signed_in? %>
              <%= link_to 'Sign out', destroy_admin_user_session_path, data: { 'turbo-method': :delete } %>
            <% end %>
          </li>
          <li class="dropdown-item"><a href="">Item List</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-row" style="padding: 10px; border: 1px solid black; height: auto;">


      <div class="p-4 w-100">
        <h3>Hi, <%= current_admin_user.username %>!</h3>

        <h4>List of client users (<%= User.client.count %>)</h4>
        <div class="w-100 border-bottom mb-2"></div>
        <div class="d-flex flex-column">
          <% @client_users.each_with_index do |client, index|%>
            <a class="form-control border nav-link mb-2 p-2 w-100" data-bs-toggle="collapse" href="#client_detail_<%= index + 1 %>" role="button" aria-expanded="false" aria-controls="collapseExample">
              <%= index + 1 %>. <%= client.email %>
            </a>

            <div class="collapse mb-2" id="client_detail_<%= index + 1 %>">
              <div class="card card-body flex-row justify-content-between pe-4">
                <div class="d-flex flex-column">
                  <small>Promoter: <%= client.parent.present? ? client.parent.email : "None" %></small>
                  <small>Phone Number: <%= client.phone.present? ? client.phone : "None" %></small>
                  <small>Total Deposit: <%= client.total_deposit %></small>
                </div>

                <div class="d-flex flex-column">
                  <small>Children Members: <%= client.children_members.present? ? client.children_members : "None" %></small>
                  <small>Member Total Deposits: <%= client.children.present? ? client.children_total_deposit : "None" %></small>
                </div>

                <div class="d-flex flex-column">
                  <small>Coins: <%= client.coins %></small>
                  <small>Total Used Coins: Not yet supported</small>
                </div>
              </div>
            </div>
          <% end %>
        </div>


    </div>


    </div>
  </content>

</section>





