<section class="client-me-orders">

  <div class="top-nav w-100" style="place-self: start">
    <%= render partial: 'client/partial/top_nav' %>
  </div>

  <div class="client-me-main container p-4 mt-4 mb-4 border rounded">
    <%= render partial: 'client/partial/me_card' %>

    <%= render partial: 'client/partial/me_nav' %>

    <div class="container border-top" style="margin-top: 20px; padding-top: 20px; height: 50vh; overflow-y: scroll">
      <% if @orders.present? %>
        <% @orders.each do |order| %>
          <%= render partial: 'client/me/orders/order_card', locals: { order: order } %>
        <% end %>
      <% else %>
        <h5 class="text-secondary">No Orders</h5>
      <% end %>
    </div>
  </div>

  <div class="bottom-nav w-100 border d-flex justify-content-center" style="place-items: center">
    <%= render partial: 'client/partial/bottom_nav' %>
  </div>

</section>


